@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}
body{
    background: #1B1B2F;
}

.navbar{
    background: #17223E;
}

.navbar-brand .navbar-toggler, .navbar-toggler-icon, .nav-link{
    color: white;
}

.registration-login-form{
    color: #FFF8D2;
    background: #17223E;
    border-radius: 8px;
    margin-top: 40px;
    min-width: 300px;
    max-width: 500px;
}


.card{
    min-width: 200px;
    max-width: 400px;
    background: #17223E;
    border-radius: 10px;
}

.banner-title{
    font-size: 3em;
}

.section-title{
    font-size: 3em;
    font-weight:900;
    text-transform: uppercase;
}
p{
    color: #A0E4F1;
}

.banner{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #28395a;
    border-radius: 0px 0px 100px 100px;
}

.banner .welcome{
    font-size: 3em;
    color:#A0E4F1;
    font-weight: 1100;
    opacity: 1;
}

.banner p{
    font-size: 1.5em;
    color: #FFF8D2;
    opacity: 0.8;
}
